		.demo h1 { font-size:72px;  text-transform:uppercase; margin-bottom:0px;}
		.char2,
		#demo2 .word2,
		.line2 { color: orange; }
		.char3,
		.word3,
		.line3 { color: yellow; }
		.char4,
		.line4 { color: blue; }
		.char5 { color: green; }
		.char6 { color: indigo; }
		.char7 { color: violet; }