            #plaxHost div {
                width: 95%;
            }

        #plax1 {
            position: fixed;
            color:White;
            height: 2000px;
            background-image: url(starfield.png);
            top: 0;
            left: 0;
            z-index: 1;
        }

        #plax2 {
            position: fixed;
            height: 2000px;
            background-image: url(starfield.png);
            background-position: 1087px 0;
            top: 0;

            left: 0;
            z-index: 2;
        }
        
        #plax3 {
            position: fixed;
            height: 2000px;
            background-position: 577px 0;
            background-image: url(starfield.png);
            top: 0;
            left: 0;
            z-index: 3;
        }

        #plax4 {
            position: fixed;
            height: 2000px;
            background-position: 337px 0;
            background-image: url(starfield.png);
            top: 0;
            left: 0;
            z-index: 4;
        }

        #plax5 {
            position: fixed;
            height: 2000px;
            background-position: 145px 0;
            background-image: url(starfield.png);
            top: 0;
            left: 0;
            z-index: 5;
        }

        		.demo {
			padding: 50px;
			border:1px solid #ccc;
			font-weight:bold;
			color: red;
			background:#d0d0d0;
			font-size:20px;
			line-height:1.5;
			text-align:center;
		}
	
