<!DOCTYPE html>
<html>
    <head>
        
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Massive Kittens</title>


        <!--Boostrap's CSS-->
        <link rel="stylesheet" type="text/css" href="./node_modules/bootstrap/dist/css/bootstrap.min.css">
        <!--Custom CSS-->
        <link rel="stylesheet" type="text/css" href="./css/style.css">
         

        <!-- 
        To collect end-user usage analytics about your application,insert the following script into each page you want to track.
        Place this code immediately before the closing </head> tag, and before any other scripts. Your first data will appear 
        automatically in just a few seconds.-->


        <script type="text/javascript">
        var appInsights=window.appInsights||function(config){
            function r(config){t[config]=function(){var i=arguments;t.queue.push(function(){t[config].apply(t,i)})}}var t={config:config},u=document,e=window,o="script",s=u.createElement(o),i,f;s.src=config.url||"https://az416426.vo.msecnd.net/scripts/a/ai.0.js";u.getElementsByTagName(o)[0].parentNode.appendChild(s);try{t.cookie=u.cookie}catch(h){}for(t.queue=[],i=["Event","Exception","Metric","PageView","Trace","Dependency"];i.length;)r("track"+i.pop());return r("setAuthenticatedUserContext"),r("clearAuthenticatedUserContext"),config.disableExceptionTracking||(i="onerror",r("_"+i),f=e[i],e[i]=function(config,r,u,e,o){var s=f&&f(config,r,u,e,o);return s!==!0&&t["_"+i](config,r,u,e,o),s}),t
            }({
                instrumentationKey:"4be2c999-8ef7-45cc-9070-7be9e58a48ff"
            });
            
            window.appInsights=appInsights;
            appInsights.trackPageView();
        </script>



    </head>
    <body>
        <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Start MassiveKittens</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="index.html">Home</a>
                    </li>
                   
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <!-- Full Width Image Header with Logo -->
    <!-- Image backgrounds are set within the full-width-pics.css file. -->
    <header class="image-bg-fluid-height">
        <img class="img-responsive img-center" src="http://placehold.it/200x200&text=Logo" alt="">
    </header>

    <!-- Content Section -->
    <section>
    <div class="container" ng-app="myApp" ng-controller="newPlaceCtrl">
         <h3>My Google Maps </h3>
    
        <form name="searchForm" novalidate 
        ng-submit="search()">
            <div class="input-group">
                <input name="place" type="text" class="form-control" 
                ng-model="searchPlace" required autofocus />
                <span class="input-group-btn">
                    <button class="btn btn-primary" 
                    ng-disabled="searchForm.$invalid">Search</button>
                </span>
            </div>
        </form>
        
    <div id="map"></div>
      
    <form name="resForm" class="form-horizontal" novalidate
       ng-submit="send()">
        <div class="form-group">
            <label for="resName" class="col-xs-2 control-label">Name</label>
            <div class="col-xs-10">
                <input name="resName" type="text" class="form-control" 
                ng-model="place.name" required />
            </div>
        </div>

    </form>
    
</div>
    </section>




           <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; MassiveKittens 2016</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container --> 


        <!-- 
            NB: You generally do not want to publically expose the server structure (eg. ./node_modules/...)
            will sort that in later bootcamps with task-runners and the like.
            For now this is just a demonstration.

            Alternatively can use CDNs for bootstrap/jquery
        -->

        <!--jQuery Script-->
        <script src="./node_modules/jquery/dist/jquery.min.js"></script>
        <!--Bootstrap Script-->
        <script src="./node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
        <!--SoundCloud SDK-->
        <script src="https://connect.soundcloud.com/sdk/sdk-3.1.2.js"></script>
        <!--Custom Script-->
        <script src="./js/main.js"></script>
         <!--Google Map API KEY and Script-->
         <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap">
    </script>
</html>
